header {
  background : #003d8f;
  margin-bottom : 2em;
  padding : 0;
  border-width : 0;
  height : 3em;
  width : 100%;
  display : grid;
  grid-template-columns : 33% 34% 33%;
  justify-items : center;
  align-items : center;
  font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-bottom : solid;
}

#eyegor {
  font-weight : 700;
  font-size : 1.6em;
  letter-spacing : 0.3em;
  color : #fcee21;
  text-shadow : 0.1em 0.1em 0 black;
}

#warning {
  justify-self : start;
  margin-left : 1em;
  color : red;
}

[popover] {
  position-anchor : auto;
  border : solid;
  background : darkgrey;
  width : 20%;
}

#w_popover {
  position-area : bottom right;
}

#i_popover {
  position-area : bottom left;
}

#info {
  justify-self : end;
  margin-right : 1em;
}

body {
  display : grid;
  justify-items : center;
  font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background : grey;
  margin : 0;
  padding : 0;
  border-width : 0;
}

#deck_loader {
  display : grid;
  justify-content : center;
}

#card_viewer {
  display : none;
  justify-items : center;
  gap : 0;
  border : solid;
  background : darkgrey;
}

h2 {
  margin : 0;
}

.small_div {
  margin : 0;
  padding : 0;
  border-width : 0;
  height : 2em;
  align-content : center;
}

#cards_div {
  display : grid;
  justify-items : center;
  grid-template-columns : 1fr 1fr 1fr;
}

#active_card_box {
  display : grid;
  justify-items : center;
  align-items : center;
}

.card {
  width : 300px;
  height : 420px;
  align-self : center;
  /* background-color : grey;
  border : solid; */
}

.card_button {
  opacity : 50%;
  scale : 80%;
}