:root {
  /* We set some variables. */
  --bg-colour : white;
  --bg-colour-alt : white;
  --primary-colour : #003d8f;
  --secondary-colour : #fcee21;
}

header {
  background : var(--primary-colour);
  font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-bottom : solid;

  margin-bottom : 1em;
  padding : 0;
  height : 3em;
  width : 100%;

  display : grid;
  grid-template-columns : 1fr 1fr 1fr;
  justify-items : center;
  align-items : center;
}

/* Title text. */
#eyegor {
  font-weight : 700;
  font-size : 1.6em;
  letter-spacing : 0.3em;
  color : var(--secondary-colour);
  text-shadow : 0.1em 0.1em 0 black;
}

/* Warning button. */
#warning {
  justify-self : start;
  margin-left : 1em;
  color : red;
}

/* Info button. */
#info {
  justify-self : end;
  margin-right : 1em;
}

/* Warning and Info popovers. */
[popover] {
  position-anchor : auto;
  border : solid;
  background : var(--bg-colour);
  width : 20%;
}

/* Warning popover. */
#w_popover {
  position-area : bottom right;
}

/* Info popover. */
#i_popover {
  position-area : bottom left;
}

body {
  background : var(--bg-colour);
  font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  margin : 0;
  padding : 0;
  border-width : 0;

  display : grid;
  justify-items : center;
}

#deck_loader {
  display : grid;
  justify-content : center;
}

#card_viewer {
  /*
    Starts off hidden, changed to grid by javascript
    when a deck is loaded.
  */
  display : none;
  justify-items : center;
  gap : 0;

  background : var(--bg-colour-alt);
  border : solid;

  margin-top : 1em;
}

h2 {
  margin : 0;
}

/* I think I should get rid of this class. */
.small_div {
  margin : 0;
  padding : 0;
  border-width : 0;
  height : 1.7em;
}

#cards_div {
  display : grid;
  justify-items : center;
  grid-template-columns : 1fr 1fr 1fr;
}

#active_card_box {
  display : grid;
  justify-items : center;
  align-items : center;
}

.card {
  /* background-color : grey;
  border : solid; */

  width : 300px;
  height : 420px;

  align-self : center;
}

.card_button {
  opacity : 50%;
  scale : 80%;
  /*
    This scaling seems to bring some issues:
    the labels below the buttons dare not come
    closer, they still believe the buttons are
    normal sized.
  */
}

.card_button_div {
  display : grid;
  justify-items : center;
  align-items : start;
}